<%- include("header") %>
<div class="corona-wrapper">
  <div class="hero">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="help-card">
          <div class="help-caption">
            Symptoms
          </div>
          <div class="help-details">
            People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.
            More rarely, the disease can be serious and even fatal. Older people, and people with other medical conditions (such as asthma, diabetes, or heart disease), may be more vulnerable to becoming severely ill.
          </div>
          <div class="help-details">
            People may experience:
            <ul>
              <li>Cough</li>
              <li>Fever</li>
              <li>Tiredness</li>
              <li>Difficulty Breathing (severe cases)</li>
            </ul>
          </div>
          <div class="help-button">
            Learn More
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="help-card">
          <div class="help-caption">
            Prevention
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="help-card">
          <div class="help-caption">
            Treatment
          </div>
          <div class="help-details">
            There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to help them breathe.
          </div>
          <div class="help-details">
            If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms if you:
            <ul>
              <li>rest and sleep</li>
              <li>keep warm</li>
              <li>drink plenty of liquids</li>
              <li>use a room humidifier or take a hot shower to help ease a sore throat and cough</li>
            </ul>
          </div>
          <div class="help-details">
            If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your health provider of any recent travel or recent contact with travelers.
          </div>
          <div class="help-button">
            Learn More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
