<%- include("header") %>
<body>
<div class="corona-wrapper">
  <div class="hero">
    <div class="corona-caption">
      <span style="color: orange;"> जान है </span>तो<span style="color: green;"> जहान है</span>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="help-card">
          <div class="help-caption">
            Symptoms
          </div>
          <div class="help-details">
            People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.
            More rarely, the disease can be serious and even fatal. Older people, and people with other medical conditions (such as asthma, diabetes, or heart disease), may be more vulnerable to becoming severely ill.
          <p></p>
            People may experience:
            <ul>
              <li>Cough</li>
              <li>Fever</li>
              <li>Tiredness</li>
              <li>Difficulty Breathing (severe cases)</li>
            </ul>
          </div>
          <div class="help-button" onclick="window.location.href = 'https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public';">
            Learn More
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="help-card">
          <div class="help-caption">
            Prevention
          </div>
          <div class="help-details">
            You can protect yourself and help prevent spreading the virus to others if you:
          <p></p>
            Do:
            <ul>
              <li>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</li>
              <li>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze</li>
              <li>Avoid close contact (1 meter or 3 feet) with people who are unwell</li>
              <li>Stay home and self-isolate from others in the household if you feel unwell</li>
            </ul>
            Don't:
            <ul>
              <li>Touch your eyes, nose, or mouth if your hands are not clean</li>
            </ul>
          </div>
          <div class="help-button" onclick="window.location.href = 'https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html';">
            Learn More
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="help-card">
          <div class="help-caption">
            Treatment
          </div>
          <div class="help-details">
            There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to help them breathe.
            <p></p>
            If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms if you:
            <ul>
              <li>rest and sleep</li>
              <li>keep warm</li>
              <li>drink plenty of liquids</li>
              <li>use a room humidifier or take a hot shower to help ease a sore throat and cough</li>
            </ul>
            <p></p>
            If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your health provider of any recent travel or recent contact with travelers.
          </div>
          <div class="help-button">
            Learn More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
