    <!-- Footer -->
    <div class="foot">
      <footer class="page-footer font-small special-color-dark pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">Made with <i class="fa fa-heart" style="color:red;"></i> in India
      </div>
      <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>

  </body>
</html>
