    <!-- Footer -->
    <div class="footwrap">
      <footer class="page-footer font-small special-color-dark">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">Made with <i class="fa fa-heart" style="color:red;"></i> in India
      </div>
      <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>

  </body>

  <script src="js/counter.js"></script>
</html>
