    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
       <!-- Copyright -->
       <div class="footer-copyright text-center py-3">Made with <i class="fa fa-heart" style="color:red;"></i> in India
       </div>
       <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>

  <script src="/js/counter.js"></script>
  <script src="/js/emergency.js"></script>
  <script src="/js/vulnerable.js"></script>
  <script src="/js/misc.js"></script>
</html>
