<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162692586-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162692586-1');
    </script>

    <meta charset="utf-8">
    <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1' /> -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=1' />
    <meta property="og:title" content="India Fights Corona | Covid-19 HelpBoard" />
    <meta property="og:url" content="https://indiafightscorona.herokuapp.com/" />
    <meta property="og:type" content="WebApp" />
    <meta property="og:description" content="This system is placed to serve as a unified platform for NGOs throughout India to collaborate during COVID-19 crisis." />
    <meta property="og:image" content="http://i.imgur.com/m7VLh1B.jpg" />
    <meta property="og:image:secure_url" content="https://i.imgur.com/m7VLh1B.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1500" />
    <meta property="og:image:height" content="1500" />
    <title>COVID-19 Helpboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/app.css">
    <script src="https://kit.fontawesome.com/8a321c0242.js" crossorigin="anonymous"></script>

  </head>
