<%- include("header") %>
<body>
<div class="wrapper">
  <div class="hero">

    <!-- NAV SECTION START -->
    <div class="nav">

    </div>

    <!-- NAV SECTION END -->
    <div class="row">
      <div class="col-12">
        <div class="login" onclick="window.location.href='login'">Login</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="caption">
          <div style="color:orange;">
            #India
          </div>Fights <br>
          <div style="color:green;">
            Corona
          </div>
        </div>

        <div class="subtext"> Welcome to the COVID-19 HelpBoard! </div>
        <div class="alt-caption"> <span style="color:orange;">#India</span> </div> <div class="alt-caption"> fights </div> <div class="alt-caption"> <span style="color:green;">Corona</span> </div>
        <div class="get-started">
          <button class="btn emer-but btn-danger" onclick="window.location.href = '/sos/new';">Report an Emergency</button>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="data-summary">
          <div class="row">
            <div class="col-sm-12 col-lg-4">
             <div class="supporting-links">
               <div class="link-box" onclick="window.location.href = '/corona';">
                 Feels like I have the symptoms
               </div>
             </div>
            </div>
            <div class="col-sm-12 col-lg-4">
             <div class="supporting-links">
               <div class="link-box" onclick="window.location.href = '/idea';">
                 I have an idea and want to help!
               </div>
             </div>
            </div>
            <div class="col-sm-12 col-lg-4">
             <div class="supporting-links">
               <div class="link-box" onclick="window.location.href = 'http://bit.ly/2WylPf9';">
                 How Vulnerable am I?
               </div>
             </div>
            </div>
          </div>
        </div>
        <div class="counter">
          <div class="counter-border">
            <div class="row">
              <div class="col-4">
                <div class="counter-caption">
                  Number of Confirmed Cases
                </div>
                <div class="counter-number" id="cases"><%= total %></div>
              </div>
              <div class="col-4">
                <div class="counter-caption">
                  Number of Recoveries
                </div>
                <div class="counter-number" id="recov"><%= discharged %></div>
              </div>
              <div class="col-4">
                <div class="counter-caption">
                  Number of Deaths
                </div>
                <div class="counter-number" id="deaths"><%= deaths %></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="source-text">
                  Source: <a href="https://www.mohfw.gov.in/"> The Ministry of Health and Family Welfare, Govt. of India </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
   <!-- Copyright -->
   <div class="footer-copyright text-center py-3">Made with <i class="fa fa-heart" style="color:red;"></i> by Parardha & Prajneya
   </div>
   <!-- Copyright -->
</footer>
<!-- Footer -->
</body>

<script src="/js/counter.js"></script>
<script src="/js/emergency.js"></script>
<script src="/js/vulnerable.js"></script>
<script src="/js/misc.js"></script>
</html>
