<%- include("header") %>
<body>
<div class="wrapper">
  <div class="hero">

    <!-- NAV SECTION START -->
    <div class="nav">

    </div>

    <!-- NAV SECTION END -->
    <div class="row">
      <div class="col-12">
        <div class="login" onclick="window.location.href='login'">Login</div>
        <div class="faq" onclick="window.location.href='https://www.mohfw.gov.in/pdf/FAQ.pdf'">FAQ</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="caption">
          <div style="color:orange;">
            #India
          </div>Fights <br>
          <div style="color:green;">
            Corona
          </div>
        </div>

        <div class="subtext"> Welcome to the COVID-19 HelpBoard! </div>
        <div class="alt-caption"> <span style="color:orange;">#India</span> </div> <div class="alt-caption"> fights </div> <div class="alt-caption"> <span style="color:green;">Corona</span> </div>
        <div class="get-started">
          <button class="btn emer-but btn-danger" onclick="window.location.href = '/sos/new';">Report an Emergency</button>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="data-summary">
          <div class="row">
            <div class="col-sm-12 col-lg-4">
             <div class="supporting-links">
               <div class="link-box" onclick="window.location.href = '/corona';">
                 Feels like I have the symptoms
               </div>
             </div>
            </div>
            <div class="col-sm-12 col-lg-4">
             <div class="supporting-links">
               <div class="link-box" onclick="window.location.href = '/idea';">
                 I have an idea and want to help!
               </div>
             </div>
            </div>
            <div class="col-sm-12 col-lg-4">
             <div class="supporting-links">
               <div class="link-box" onclick="window.location.href = 'http://bit.ly/2WylPf9';">
                 How Vulnerable am I?
               </div>
             </div>
            </div>
            <div class="col-sm-12 mobile-only">
             <div class="supporting-links">
               <div class="link-box" onclick="window.open('https://www.mohfw.gov.in/pdf/FAQ.pdf', '_blank')">
                 FAQ
               </div>
             </div>
            </div>
          </div>
        </div>
        <div class="counter">
          <div class="counter-border">
            <div class="row">
              <div class="col-4">
                <div class="counter-caption">
                  Number of Confirmed Cases
                </div>
                <div class="counter-number" id="cases"><%= total %></div>
              </div>
              <div class="col-4">
                <div class="counter-caption">
                  Number of Recoveries
                </div>
                <div class="counter-number" id="recov"><%= discharged %></div>
              </div>
              <div class="col-4">
                <div class="counter-caption">
                  Number of Deaths
                </div>
                <div class="counter-number" id="deaths"><%= deaths %></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="source-text">
                  Source: <a href="https://www.mohfw.gov.in/"> Ministry of Health and Family Welfare, Govt. of India </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="about-wrapper">
  <div class="hero">
    <div class="row">
      <div class="col-12">
        <div class="about-caption"> <span style="font-weight: bold;">ABOUT</span> <span>US</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="about-details idea-card">
            <p>This system is placed to serve as a unified platform for NGOs throughout India to collaborate and work together to bridge the gap between “demand in emergencies” and “supplies for help”. This platform has been built majorly to record all kinds of emergencies of people currently in quarantine from all over the country, and for collaborating NGOs to address them as quickly as possible. There is no limit to the emergencies that can be served if we come together during times of crisis. </p> 
            <p>If there is anything that you are facing alone during the current lockdown or even if you are willing to report an emergency happening nearby, you can record it here and we will make sure that the required help is in place as early as possible.
            Our network will be placed in different parts of the country and as we practice this support more, we will be able to assist efficiently. All the cases will be managed centrally and locally depending on its severity. The system will be monitored constantly by us. We will be bringing in more workforce as the situation demands. </p>
            <p>We are a group of alumni and students from IIT Dhanbad and IIIT Hyderabad committed to helping the society as consultants during the current crisis. </p>
            <p>If you are an NGO and are willing to collaborate, please contact us <a href="https://www.facebook.com/parardha.kumar.7">here.</a></p>
          </div>
      </div>
    </div>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="page-footer font-small blue">
   <!-- Copyright -->
   <div class="footer-copyright text-center py-3">Made with <i class="fa fa-heart" style="color:red;"></i> by <a href="https://www.linkedin.com/in/parardha/">Parardha</a> & <a href="https://www.linkedin.com/in/prajneyakumar/">Prajneya</a>
   </div>
   <!-- Copyright -->
</footer>
<!-- Footer -->
</body>

<script src="/js/counter.js"></script>
<script src="/js/emergency.js"></script>
<script src="/js/vulnerable.js"></script>
<script src="/js/misc.js"></script>
</html>
