<%- include("header") %>

<h1>Please Enter your Details below, we'll get back to you ASAP</h1>

<form action="/sos" method="POST">
  <input type="text" name="address" placeholder="Enter your address">
  <input type="text" name="contact" placeholder="Contact Number">
  <input type="text" name="requirement" placeholder="Enter Requirement">
  <button>Submit!</button>
</form>

<%- include("footer") %>
