<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/success.css">
  </head>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1>
        <p>We received your request. </p>
        <br>
          <h2> Important Note: </h2>
          <p class="warning"> We are currently in the process to collaborate with as many NGOs as possible around the country. It may be possible that we are not yet in contact with any NGO or help in your region but nevertheless we are more than 10 people constantly monitoring the system. It is our prime motive to not leave you alone in such situation.
          People will be in touch with you shortly! Stay Safe. </p>
          <br>
          <a href="/">Home Page</a>
      </div>
    </body>
</html>
