@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body{
  overflow-x: hidden;
}

.wrapper{
  height: 100vh;
  background-image: url(../img/landing2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.hero{
  color: #fff;
  font-family: 'Bebas Neue', cursive;
}

.caption{
  font-size: 15vw;
  line-height: 80%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.subtext{
  font-size: 2vw;
  margin-left: 2rem;
}

.counter{
  padding-top: 70%;
}

/* .counter-border{
  border: 6px;
  border-color: white;
  border-style: solid;
  padding-top: 1.5rem;
  padding-left: 1rem;
  margin-right: 2rem;
} */

.counter-caption{
  font-size: 1.5vw;
}

.counter-number{
  font-size: 5vw;
}

.source-text{
  font-size: 1vw !important;
  text-align: center;
}

.get-started{
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.emer-but{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 2vw;
  background: transparent !important;
}

.emer-but:hover{
  background-color: #006c00 !important;
}

.landing_section{
  height: 1vh;
}

.form-wrapper{
  /* height: 100vh;
  background: #000046;  /* fallback for old browsers
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  background-image: url(../img/form.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.v-align{
  padding: 1rem;
  background: rgba(27, 27, 27, 0.6);
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 25px;
}

.form-container{
  padding-top: 8rem;
  padding-bottom: 1rem;
}

.head-center{
  text-align: center;
  font-size: 2vw;
}

.form-box{
  border-style: solid !important;
  border: 2px;
  border-color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px;
}

.form-box input{
  margin-bottom: 1rem;
}

.form-submit{
  padding: 0.5rem 2rem;
  font-size: 2.5vh !important;
}

.footwrap{
  color: white;
  padding-bottom: 0.1rem;
}
