@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: black;
}

.wrapper{
  min-height: 100vh;
  background-image: url(../img/landing2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.about-wrapper{
  min-height: 100vh;
  background-image: url(../img/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.hero{
  color: #fff;
  font-family: 'Bebas Neue', cursive;
}

.caption{
  font-size: 15vw;
  line-height: 80%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.mobile-only{
  display: none;
}

.login{
  display: inline;
  font-size: 2vh;
  margin-top: 0.5rem;
  margin-right: 1rem;
  float: right;
  border-style: solid;
  border-color: white;
  padding: 0rem 1rem;
  border-width: 2px;
  border-radius: 5px;
}

.faq{
  display: inline;
  font-size: 2vh;
  margin-top: 0.5rem;
  margin-right: 1rem;
  float: right;
  border-style: solid;
  border-color: white;
  padding: 0rem 1rem;
  border-width: 2px;
  border-radius: 5px;
}

.login:hover{
  background: green;
  cursor: pointer;
}

.faq:hover{
  background: green;
  cursor: pointer;
}

.logout{
  font-size: 1vw;
  margin-top: 0.5rem;
  margin-right: 1rem;
  float: right;
  border-style: solid;
  border-color: white;
  padding: 0rem 1rem;
  border-width: 2px;
  border-radius: 5px;
  color: black;
  background: #A9A9A9;
}

.logout:hover{
  background: rgba(155, 145, 196);
  cursor: pointer;
}

.subtext{
  font-size: 2vw;
  margin-left: 2rem;
}

.alt-caption{
  display: none;
}

.supporting-links{
  font-size: 1vw;
  text-align: center;
}

.data-summary{
  margin-top: 60%;
}

.link-box{
  color: #ffd500;
  max-width: 25vh;
  border-style: solid;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 7px;
  margin-top: 1rem;
}

.link-box:hover{
  background: rgba(255, 245, 196, 0.3);
  cursor: pointer;
}

.counter{
  padding-top: 0.5rem;
}

/* .counter-border{
  border: 6px;
  border-color: white;
  border-style: solid;
  padding-top: 1.5rem;
  padding-left: 1rem;
  margin-right: 2rem;
} */

.counter-caption{
  font-size: 1.5vw;
}

.counter-number{
  font-size: 5vw;
}

.source-text{
  font-size: 2.3vh   !important;
  text-align: center;
  padding-bottom: 2rem;
}

.get-started{
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.about-caption{
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 10vw;
  margin-right: 3rem;
  margin-top: 5rem;
  color: black;
  line-height: 85%;
}

.about-details{
  font-family: 'Raleway', sans-serif;
  padding: 3rem !important;
  margin-left: 3rem;
  margin-right: 5rem;
  max-width: 90vw;
  font-size: 2.5vh;
  margin-bottom: 2rem;
  margin-top: 5rem;
  color: black;
}

.emer-but{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 2vw;
  background: transparent !important;
}

.emer-but:hover{
  background-color: red !important;
}

.form-wrapper{
  min-height: 100vh;
  /*background: #000046;  /* fallback for old browsers
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  height: 100vh; */
  background-image: url(../img/form.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.v-align{
  font-size: 2vw;
  padding: 1rem;
  background: rgba(27, 27, 27, 0.6);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  min-height: 90vh;
  margin-bottom: 1rem;
}

.v-align-no-box{
  padding: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  min-height: 90vh;
  margin-bottom: 1rem;
}

.form-container{
  padding-top: 4vh;
  padding-bottom: 1vh;
}

.head-center{
  text-align: center;
  font-size: 2vw;
}

.form-box{
  border-style: solid !important;
  border: 2px;
  border-color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px;

}

.form-box input{
  margin-bottom: 1rem;
  font-size: 1vw;
}

.form-submit{
  padding: 0.5rem 2rem;
  font-size: 2.5vh !important;
}

.form-check-label{
  margin-top: -0.8rem !important;
}

.map-container{
  margin-top: 35%;
  margin-bottom: auto;
}

.t-box{
  text-align: center;
}

.t-caption{
  font-size: 2vw;
  color: black;
}

.t-wrap{
  margin: 2rem 1rem 1rem;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

table{
  font-family: 'Roboto', sans-serif !important;
  color: black !important;
  padding-top: 2rem;
  border-radius: 5px;
  font-size: 1vw;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100vw;
  white-space: nowrap;
  background-color: white;
  margin: 1vw;
}

table td, table th{
  text-align: center;
  padding: 2rem;
}

table td{
  border-right: 1px solid #f8f8f8;
  font-size: 1vw;
}

table thead th{
  color: #ffffff;
  background: #4FC3A1;
}

@media only screen and (max-width: 995px) {
  body{
    overflow: scroll;
  }
  .mobile-only{
    display: block;
  }
  .form-container{
    margin-top: -2px;
  }
  .v-align{
    margin: 2px;
    min-height: 50px;
  }
  .v-align-no-box{
    margin: 2px;
    min-height: 50px;
    background: rgba(27, 27, 27, 0.6);
  }
  .map-container{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .data-summary{
    text-align: center;
    margin-top: 1%;
  }
  .counter{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 25%;
    margin-left: 8%;
  }
  .counter-caption{
    font-size: 2vh;
    position: absolute;
    bottom: 0rem;
    top: 4rem;
    left: 0;
    right: 0;
  }
  .counter-number{
    position: absolute;
    top: 0;
    font-size: 5.5vh;
    left: 0;
    right: 0;
  }
  .source-text{
    font-size: 1.7vh !important;
    position: relative;
    top: 7.5rem;
  }
  .caption{
    display: none;
  }
  .subtext{
    font-size: 4vw;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-top: 4.5rem;
  }
  .get-started{
    margin-left: 0;
    text-align: center;
  }
  .emer-but{
    font-size: 5vw;
  }
  .supporting-links{
    text-align: center;
    font-size: 3vw;
  }
  .alt-caption{
    text-align: center;
    justify-content: center;
    font-size: 20vw;
    display: block;
    margin-bottom: -1.7rem;
  }
  .login{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    z-index: 4;
  }
  .faq{
    display: none;
  }
  .login-box{
    margin: 1rem;
  }
  .link-box{
    max-width: 100vw;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .wrapper{
    min-height: 100vh;
  }
  .form-wrapper{
    background-image: url(../img/form-mobile.jpg);
  }
  .help-details{
      font-size: 3vw;
  }
  .scroll-card{
    position: static;
  }
  .form-box input{
    font-size: 2.5vw;
  }
}

.login-wrapper{
  min-height: 100vh;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aid-wrapper{
  min-height: 100vh;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-box{
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 25%;
  margin-bottom: 25%;
  color: black;
}

.login-box-caption{
  font-size: 4vh;
}

.login-details{
  margin-top: 0.5rem;
  font-family: 'Raleway', sans-serif;
  background: rgba(0, 27, 27, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  color: white !important;
  padding: 2rem;
  padding-top: 3.5rem;
}

.login-but:hover{
  background-color: rgba(0, 20, 47, 0.4);
}

.login-but{
  background-color: #7fc4a5;
}

.corona-wrapper{
  min-height: 100vh;
  background-image: url(../img/corona.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.help-card{
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: #ffd700;
  min-height: 80vh;
  margin-top: 0.5rem;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.help-caption{
  text-align: center;
  font-size: 4vw;
  padding-top: 2rem;
}

.help-details{
  font-family: 'Raleway', sans-serif;
  background: rgba(0, 27, 27, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  color: white !important;
  padding-top: 1.5rem !important;
  padding: 2rem;
  margin-bottom: 7.5rem;
}

.help-button{
  border-style: solid;
  border-width: 3px;
  text-align: center;
  padding: 1rem;
  margin-left: 6rem;
  margin-right: 5rem;
  border-radius: 10px;
  border-color: grey;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
}

.help-button:hover{
  background: rgba(57, 97, 127, 0.8);
  color: white;
  border-color: white;
  transition: 0.3s;
  cursor: pointer;
}

.corona-caption{
  font-family: 'Mukta', sans-serif;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 8vh;
}

.idea-wrapper{
  min-height: 100vh;
  background-color: #f2f8f9;
  overflow: hidden;
}

.icaption{
  /*background-color: #ef5455; */
  font-family: 'Arvo', serif;
  padding-top: 2rem;
  font-size: 5vw;
  text-align: center;
  position: relative;
  z-index: 3;
}

.idea-card{
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 2.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  box-shadow: 0px 14px 50px rgba(34, 35, 58, 0.2);
  border-radius: 25px;
}

.idea-card:hover{
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 7px 30px #000;
}

.idea-title{
  font-size: 3.5vh;
  color: #ef5455;
}

.idea-content{
  font-family: 'Raleway', sans-serif;
  color: black;
}

.idea-author{
  font-size: 2vh;
  color: #ef5455;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-style: italic;
}

.idea-time{
  text-align: right;
  color: #7ba5cf;
}

.idea-form{
  padding: 5rem;
  padding-top: 1rem;
  color: black;
}

.idea-form input{
  font-family: 'Raleway', sans-serif;
  background: transparent;
}

.idea-form textarea{
  font-family: 'Raleway', sans-serif;
  background: transparent;
}

.scroll-card{
  position: absolute;
  overflow-y: scroll;
  height: 70vh;
  top: 13.5rem;
  bottom: 0;
  right: 0;
  z-index: 2;
  border-radius: 25px;
}

.scroll-card::-webkit-scrollbar{
  display: none;
}

.last-card{
  height: 30vh;
}

.cOverflow{
  overflow: auto;
}

#resizeThis{
  margin-top: -3rem;
}

.vul-wrapper{
  min-height: 100vh;
  background-color: black;
}

.vul-input{
  padding-top: 20rem;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.vul-input input{
  background: transparent;
  text-align: center;
  color: white !important;
}

.vul-input input:focus{
  background: transparent;
}

.vul-data{
  font-size: 4vh;
  padding-top: 20rem;
}

.form-control{
  font-family: 'Poppins', sans-serif;
}

footer{
  font-size: 1.5vh;
  color: white;
}
