@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  background-color: black;
}

.wrapper{
  background-image: url(../img/landing2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.hero{
  color: #fff;
  font-family: 'Bebas Neue', cursive;
}

.caption{
  font-size: 15vw;
  line-height: 80%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.login{
  font-size: 1vw;
  margin-top: 0.5rem;
  margin-right: 1rem;
  float: right;
  border-style: solid;
  border-color: white;
  padding: 0rem 1rem;
  border-width: 2px;
  border-radius: 5px;
}

.login:hover{
  background: green;
  cursor: pointer;
}

.subtext{
  font-size: 2vw;
  margin-left: 2rem;
}

.supporting-links{
  font-size: 1vw;
  text-align: center;
}

.data-summary{
  margin-top: 60%;
}

.link-box{
  color: #ffd500;
  max-width: 25vh;
  border-style: solid;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 7px;
  margin-top: 1rem;
}

.link-box:hover{
  background: rgba(255, 245, 196, 0.3);
  cursor: pointer;
}

.counter{
  padding-top: 0.5rem;
}

/* .counter-border{
  border: 6px;
  border-color: white;
  border-style: solid;
  padding-top: 1.5rem;
  padding-left: 1rem;
  margin-right: 2rem;
} */

.counter-caption{
  font-size: 1.5vw;
}

.counter-number{
  font-size: 5vw;
}

.source-text{
  font-size: 1vw !important;
  text-align: center;
}

.get-started{
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.emer-but{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 2vw;
  background: transparent !important;
}

.emer-but:hover{
  background-color: red !important;
}

.form-wrapper{
  /* height: 100vh;
  background: #000046;  /* fallback for old browsers
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  height: 100vh; */
  background-image: url(../img/form.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.v-align{
  padding: 1rem;
  background: rgba(27, 27, 27, 0.6);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  min-height: 90vh;
  margin-bottom: 1rem;
}

.form-container{
  padding-top: 4vh;
  padding-bottom: 1vh;
}

.head-center{
  text-align: center;
  font-size: 2vw;
}

.form-box{
  border-style: solid !important;
  border: 2px;
  border-color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px;

}

.form-box input{
  margin-bottom: 1rem;
}

.form-submit{
  padding: 0.5rem 2rem;
  font-size: 2.5vh !important;
}

.form-check-label{
  margin-top: -0.8rem !important;
}

.map-container{
  margin-top: 50%;
  margin-bottom: auto;
}

.t-box{
  text-align: center;
}

.t-caption{
  font-size: 2vw;
  color: black;
}

.t-wrap{
  margin: 2rem 1rem 1rem;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

table{
  font-family: 'Roboto', sans-serif !important;
  color: black !important;
  padding-top: 2rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

table td, table th{
  text-align: center;
  padding: 2rem;
}

table td{
  border-right: 1px solid #f8f8f8;
  font-size: 1vw;
}

table thead th{
  color: #ffffff;
  background: #4FC3A1;
}

@media only screen and (max-width: 990px) {
  .form-container{
    margin-top: -2px;
  }
  .v-align{
    margin: 2px;
    min-height: 50px;
  }
  .map-container{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.login-wrapper{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aid-wrapper{
  min-height: 100vh;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-box{
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 25%;
  margin-bottom: 25%;
  color: black;
}

.login-box-caption{
  font-size: 2vw;
}

.login-details{
  margin-top: 0.5rem;
  font-family: 'Raleway', sans-serif;
  background: rgba(0, 27, 27, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  color: white !important;
  padding: 2rem;
  padding-top: 3.5rem;
}

.login-but:hover{
  background-color: rgba(0, 20, 47, 0.4);
}

footer{
  color: white;
}
